body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 5px 0px 0px 0px;
}

#logo {
    display: block;
    margin: auto;
    padding-top: 250px;
}

.logo-div {
    max-height: 92;
    position: relative;
    margin-top: auto;
    height: 100%;
    display: flex;
    }

#keyboard {

    display: block;
    position: relative;
    left: 64%;
    top: -60px;
    width: 25px;
    outline: none;
}

#pesquisar {
    display: block;
    position: relative;
    margin: 30px auto;
    width: 30%;
    padding: 15px;
    border-radius: 100px;
    border: black;
    outline-style: solid;
    outline-color: rgb(194, 194, 194);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-bottom: 0px;
}
    
#lupa {

    display: block;
    position: relative;
    left: 35%;
    top: -35px;
    width: 25px;
    outline: none;
}

#searchbuttons {
    display: flex;
    justify-content: center;
    margin-top: -40px;
}

.searchbtn {
    margin: 13px 4px 10px 4px;
    padding: 10px;
}

button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

button:hover {
    border: 1px solid #dadce0;
    
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 2px;
}

.navitem {
        
        margin-right: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        text-decoration: none;
        color: #000000;
}

.navitem:hover {
    text-decoration: underline;
}

#userlogo {
    border-radius: 50%;
}

footer {    
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #dadce0;
        background-color: #f2f2f2;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
}

.ftitem {
    margin-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #70757a;
}

.ftitem:hover {
    text-decoration: underline;
}

.lfUrls {
    padding: 15px;
}

.rtUrls {
    padding: 15px;
}